@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2023/challenger/gallery/exterior/MY23_Challenger_Gallery_07.jpg.image.1440.jpg);
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            color: #fff;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 40px 20px;
            text-align: center;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-size: 16px;
            padding: 10px 20px;
        }

            .btn-primary:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }
    </style>
</head>
<body>
    <div class="container text-dark bold">
        <h1>Welcome to the Car library</h1>
        <p>A full collection place to find all about cars.</p>
        <a href="/Home/Login" class="btn btn-primary">Explore CarBooks</a>
    </div>
</body>
</html>
