 <div
    class="min-h-screen bg-cover h-full bg-white  w-full flex justify-center items-center flex-col dark:bg-black ">

    <app-logo></app-logo>
    <div class="flex items-center w-96 flex-col mt-8 dark:text-white">
        <h1 class="font-montserrat text-4xl ">Bem vindo de volta!</h1>
        <h2 class="mt-2 ">Insira seus dados abaixo</h2>
    </div>

    <div class="flex items-start w-96 mt-16 flex-col dark:text-white mb-8">
        <label for="user" class="ml-2">Usuário</label>
        <app-custom-input icon="ph ph-user"
            input_id="user"
            input_placeholder="Digite seu usuário"></app-custom-input>
        <label class="ml-2 mt-2">Senha</label>
        <app-custom-input icon="ph ph-lock-simple" input_type="password"
            input_id="user"
            input_placeholder="Digite sua senha"></app-custom-input>
        <div class="flex items-center mt-4 ml-4">
            <input checked id="checked-checkbox" type="checkbox" value
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
            <div class="flex flex-row justify-between ">
                <p class="ml-2 text-sm font-thin ">Manter-me conectado</p>
                <a href="#" class="  text-sm font-thin underline ml-8">Esqueceu
                    sua
                    senha?</a>
            </div>
        </div>
    </div>
    <app-custom-button text="Entrar" severity="info" [style]="{width: '20rem'}"></app-custom-button>
    <p class="text-sm mt-4 dark:text-white">Não possui uma conta? <a
            href="signup"
            class="text-primary-1  underline font-semibold">Cadastre-se</a></p>
</div>
